# Azure Configuration
azure_region = "East US"

# Project Configuration
environment   = "dev"
project_name  = "multi-cloud-terraform"
owner         = "DevOps Team"
cost_center   = "Engineering"

# Network Configuration
vnet_cidr              = "10.1.0.0/16"
public_subnet_cidr     = "10.1.1.0/24"
private_subnet_cidr    = "10.1.10.0/24"
database_subnet_cidr   = "10.1.100.0/24"

# Compute Configuration
web_vm_size     = "Standard_B1s"
app_vm_size     = "Standard_B2s"
web_vm_count    = 2
app_vm_count    = 2
admin_username  = "azureuser"
admin_password  = "P@ssw0rd123!"

# Database Configuration
db_sku_name                        = "S0" #"GP_Gen5_2"
db_storage_mb                      = 20480
db_name                           = "appdb"
db_username                       = "dbadmin"
db_backup_retention_days          = 7
db_geo_redundant_backup_enabled   = false


client_id = "68ae1b45-fe21-4222-900a-bcaba5d5b0f9"
client_secret = "WZp8Q~1O1YlInFvNLl-kXkprpY~7kec-leZwjdra"
subscription_id = "a2b28c85-1948-4263-90ca-bade2bac4df4"
tenant_id       = "30fe8ff1-adc6-444d-ba94-1238894df42c"